<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 

    java : mapper            mybatis : mapper
   ―――――――――――――――――――――――――――――――――――――――――――
   
      interface   <――――――――        XML
      method       ――――――――>         id
                           
                           namespace : Interface

 --> 
  
  
<!-- 호출하는 인터페이스 경로 작성 -->
<mapper namespace="com.gdu.myapp.mapper.UserMapper"> 
 
 <!-- 모든 USER 정보를 다 SELECT 해서 MAP으로 저장 -> 필요한 정보만 MAP 으로 꺼내서 쓰기 위함 
      => 단순히 로그인용 쿼리로만 사용하는 것이 아니고 다양하게 사용될 수 있는 쿼리문
      => id는 구체적으로 주기보다는 어디서든 사용되도록 두루두루명으로 작성하는게 좋음
 -->
 <select id="getUserByMap"
          parameterType="Map"
          resultType="UserDto">
    SELECT USER_NO, EMAIL, PW, NAME, GENDER, MOBILE, EVENT_AGREE, SIGNUP_KIND, PW_MODIFY_DT, SIGNUP_DT
      FROM USER_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if> <!-- 조건 : email과 pw 가 null이 아니면 조회 -->
      <if test="pw!=null">AND PW = #{pw}</if>
    </where> <!-- ********** 조건에 의해서 조건이 바뀐다면 WHERE을 태그로 작성  => WHERE 태그는 필요없는 조건은 빼줌 -->
 </select>

<select id="getLeaveUserByMap"
        parameterType="map"
        resultType="LeaveUserDto">
   SELECT LEAVE_USER_NO
     FROM LEAVE_USER_T
   <where>
     <if test="email!=null">EMAIL = #{email}</if>
   </where>        
</select>

<insert id="insertUser"
        parameterType="UserDto">
    INSERT INTO USER_T (
        USER_NO
      , EMAIL
      , PW
      , NAME
      , GENDER
      , MOBILE
      , EVENT_AGREE
      , SIGNUP_KIND
      , PW_MODIFY_DT
      , SIGNUP_DT
    ) VALUES (
        USER_SEQ.NEXTVAL
      , #{email}
      , #{pw}
      , #{name}          <!-- 크로스 스크립트 사이팅 방지되어 넘어옴 -->
      , #{gender}
      , #{mobile}
      , #{eventAgree}
      , 0                <!-- 직접가입 -->
      , CURRENT_DATE
      , CURRENT_DATE
    )
</insert>

<delete id="deleteUser">
  DELETE 
    FROM USER_T
   WHERE USER_NO = #{userNo}
</delete>

<insert id="insertAccessHistory"
        parameterType="Map">
    INSERT INTO ACCESS_HISTORY_T (
        ACCESS_HISTORY_NO
      , EMAIL
      , IP
      , USER_AGENT
      , SESSION_ID
      , SIGNIN_DT
      , SIGNOUT_DT                 <!-- SIGNOUT_DT 는 UPDATE로 갱신 -->
    ) VALUES (
        ACCESS_HISTORY_SEQ.NEXTVAL
      , #{email}
      , #{ip}
      , #{userAgent}
      , #{sessionId}
      , CURRENT_DATE
      , NULL
    )    
</insert>

 <update id="updateAccessHistory">
    UPDATE ACCESS_HISTORY_T
       SET SIGNOUT_DT = CURRENT_DATE
     WHERE SESSION_ID = #{sessionId} 
  </update>

 </mapper>